#naver {
    color: #16db58;
}
#google {
    color: #0080a0;
}
#bing {
    color: #63009c;
}
.desc {
    color: #58270a;
    font-weight: bolder;
}
.back {
    color: #385e46;
    font-size: 1.2em;
}
.dali {
    font-size: 1.2em;
}